name = "CFDiffusionSchemes"
uuid = "c98386de-3084-4a91-9df5-5a8c5033d229"
authors = ["Benedict Hatton, Thomas Dubos <thomas.dubos@polytechnique.edu>"]
version = "0.0.2"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
